
/*@font-face{
    font-family: "allen font";
    src:url("VeraSeBd.ttf");
}*/
body{
    /*font-family: "STXingkai";*/
    /*background-image: url(https://mdn.mozillademos.org/files/12059/startransparent.gif);*/
}
.border{
    border:3px solid blue;
}
.border-dotted{
    border:3px dotted blue;
}
.padding{
    padding:10px;
}
.visibility-hidden{
    visibility: hidden;
}
#css-skill .nav li{
    display: inline-block;
    width:40px;
    height:40px;
    margin:10px;
}
#css-skill .nav li:not(:last-child){
    border-right: solid red 1px;
}

/*#css-skill .nav li:last-child{
    border-right: none;
}*/
/*使用:not() */

/*:active*/
.button{
    border: none;
}
.button:hover{
    font-family: "STXingkai";
    background-color:green;
}
.button:active{
    background-color: red;
}

#background>div p{
    background-image: url(https://mdn.mozillademos.org/files/12057/starsolid.gif),url("https://mdn.mozillademos.org/files/12059/startransparent.gif");
    background-repeat: repeat-x,repeat-y;
    background-attachment: fixed,scroll;
}
#background .background-image{
    background-image: url(https://mdn.mozillademos.org/files/12057/starsolid.gif);
}
#background .background-color{
    background-color:rgba(255,0,0,.5);
}
#background .background-repeat{
    background-repeat: no-repeat;
}
#background .background-clip{
    background-clip: content-box;
}
#background .background-origin{
    background-origin: content-box;
}
#background .background-position{
    background-position: center left;
}
#background .background-size{
    background-size: 50% 25%;
}
#border .border{
    border:30px solid blue
}
#border .border-image{
    border-image-source: url(https://mdn.mozillademos.org/files/4127/border.png);
    border-image-slice: 27;
    border-image-repeat: round;
    border-image-width: 50px;
    border-image-outset: 1 1 3 1;
}

#table .table-layout{
    border-collapse: collapse;
    table-layout: fixed;
    border:1px solid red;
}

#table>table th,#table>table td{
    border:1px solid black;
}

